<%@bars.each do |bar| %>
<div class="card">
  <div class="photo">
    <img src="https://placeholder.com/150x150" alt="">
  </div>
  <div class="info">
    <h1><%= link_to bar.name, bar_path(bar) %></h1>
    <p><%= bar.location %></p>
    <h3><%= bar.rating %></h3>
  </div>

  <div class="description">
    <p><<%= bar.description%>/p>
  </div>
</div>
<%end %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
