
<div class="container-form">
<h3>Add Your Bar</h3>
  <%= simple_form_for(@bar) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.input :website %>
  <%= f.input :photo, as: :attachinary %>

  <!-- <div class="input-group bootstrap-timepicker timepicker">
    <input id="mon_start" type="text" class="form-control input-small">
    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
  </div> -->

 <%= f.button :submit, class: 'btn2' %>
<% end %>

<% content_for :javascript do %>
<script>
  $("#bar_name").click(function() {
  console.log("only runs on the contact page!")
})
</script>

<%end %>

</div>
