<div class="event-photo" style="background-image: url(https://images.unsplash.com/photo-1433785069405-791b480d0a62?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=278f3a13fa6a61d3af44f4a553cab4c0) ">
</div>

<div class="container">
    <div class="bar-details">
      <h3><%= @bar.name %></h3>
      <p><%= @bar.location%></p>
      <p><%= @bar.description %></p>


      <div id="map" style="width: 300px; height: 300px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @event_coordinates.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(10);
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
    <div class = "return">
  <%= link_to bars_path do%>
  <ul class = "list-inline">
    <li>
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
      <%end %>
    </li>
    <li>
      <p>See all Bars</p>
    </li>
  </ul>
</div>
  </div>

</div>
