<% @events.each do |event| %>
<div class="container">
  <div class="list-card">
    <img src="http://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif" alt="">
    <div class="list-details">
      <div class="list-name"><%= event.title %>
      </div>
      <button class="list-callback">
        See Bar
      </button>
      <div class='list-landmark'> <%=event.bar.name%> </div>
      <div class="list-rooms"><%=event.description%></div>
      <div class="list-price"><%=event.category%></div>
      <div class='list-bottom'>
        <div class='list-bottom-section'>
          <span>Start time</span>
            <span><%=event.start_time%></span>
        </div>
        <div class='list-bottom-section'>
          <span>End time</span>
            <span><%=event.end_time%></span>
        </div>
        <div class='list-bottom-section'>
          <span>Rating</span>
            <span>4 stars</span>
        </div>
      </div>
    </div>
  </div>
</div>
<% end%>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
