<div class="search_filter">
  <div class="dropdown">
    <button class ="btn3" class= "avatar dropdown-toggle", data-toggle="dropdown" href="#" id= "navbar-wagon-menu">Category <i class="fa fa-caret-down" aria-hidden="true"> </i></button>
    <ul class="dropdown-menu navbar-wagon-dropdown-menu">
      <li>Art</li>
      <li>Comedy</li>
      <li>Drag</li>
      <li>Games</li>
      <li>Live Music</li>
      <li>Readings</li>
      <li>Screenings</li>
      <li>Shows</li>
      <li>Sports</li>
      <li>Tastings</li>
      <li>Trivia</li>
      <li>Other</li>
    </ul>
  </div>
</div>

<div class="index-layout">
  <div class="results">
    <% @events.each do |event| %>
      <div class="list-card">
        <div class="date">
          <h1><%=event.date.strftime("%d")%></h1>
          <h4><%=event.date.strftime("%b")%></h4>
        </div>
        <div class="list-details">
            <h3><%= event.title %></h3>
            <p class = "bar_name"><%=event.bar.name%></p>
            <p class = "location"><%=event.bar.location%></p>
            <p class = "category"><%=event.category%></p>
          <button class="list-callback">
          <%= link_to event_path(event) do%>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            <%end %>
          </button>
          <div class='list-bottom'>
            <div class='list-bottom-section'>
              <span>Start time</span>
              <span><%=event.start_time.strftime("%R")%></span>
            </div>
            <div class='list-bottom-section'>
              <span>End time</span>
              <span><%=event.end_time.strftime("%R")%></span>
            </div>
            <div class='list-bottom-section'>
              <span>Rating</span>
              <span>4 stars</span>
            </div>
          </div>
        </div>
      </div>
    <% end%>
  </div>
  <div id="map"></div>
</div>




<% content_for(:after_js) do %>
<%= javascript_tag do %>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
      });
    });
  <% end %>
<% end %>
