<!-- <div class="container"> -->
<!-- <div class="row"> -->
<div class="event-photo" style="background-image: url(https://images.unsplash.com/photo-1433785069405-791b480d0a62?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=278f3a13fa6a61d3af44f4a553cab4c0) ">
</div>

<div class="container">
  <div class="event-container">
    <div class="details">
      <div class="title">
        <h1>The Event</h1>
      </div>
      <div class="category_box">
        <p><%= @event.category %></p>
      </div>
      <div class="details_box">
        <h3><%= @event.title %></h3>
        <p class = "date_time"><i class="fa fa-calendar-o" class = "icon" aria-hidden="true"></i>
        <%= @event.date.strftime("%B %d") %></p>
        <p><i class="fa fa-clock-o" class = "icon" aria-hidden="true"></i><%= @event.start_time.strftime("%R") %> to <%= @event.end_time.strftime("%R") %> </p>
        <p><%= @event.description %></p>
      </div>
      <%= social_share_button_tag(@event.title) %>
    </div>

    <div class="bar-details">
      <div class="title">
      <ul class="list-inline">
      <li><h3>The Bar</h3></li>
      <%@event.bar.rating.times do %>
      <li><i class="fa fa-star" class = "icon" aria-hidden="true"></i></li>
      <%end %>
      </ul>
      </div>

      <h3><%= link_to @event.bar.name, bar_path(@event.bar) %></h3>
      <p><i class="fa fa-map-marker" class = "icon" aria-hidden="true"></i><%= @event.bar.location%></p>
      <ul class="list-inline">
      <%@event.bar.price_level.times do %>
      <li><i class="fa fa-eur" class = "icon" aria-hidden="true"></i></li>
      <%end %>
      </ul>
      <p><%= @event.bar.description %></p>


      <div id="map" style="width: 300px; height: 300px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @event_coordinates.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(15);
              });
            });
          <% end %>
        <% end %>
      </div>
  </div>

    <div class="return">
      <div class="title">
        <h1>Reviews</h1>
      </div>
      <% @event.bar.reviews.each do |review|%>
        <div class="review">
          <ul class="list-inline">
            <% if review.rating %>
              <%review.rating.times do %>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <%end %>
            <% end %>
            <li class = "review_content"><%=review.content %></li>
          </ul>
        </div>
      <%end %>
    </div>
    <%= link_to "Write review", new_bar_review_path(@event.bar), class: "btn3" %>

    <div class = "return">
      <%= link_to events_path do%>
        <ul class = "list-inline">
          <li>
            <i class="fa fa-chevron-circle-left" class = "icon" aria-hidden="true"></i>
          </li>
      <%end %>
          <li>
            See all Events
          </li>
        </ul>
    </div>
  </div>


