<!-- <div class="container"> -->
<!-- <div class="row"> -->
<div class="event-photo" style="background-image: url(https://images.unsplash.com/photo-1433785069405-791b480d0a62?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=278f3a13fa6a61d3af44f4a553cab4c0) ">
</div>

<div class="container">
  <div class="event-container">
    <div class="details">
      <div class="title">
        <h1>The Event</h1>
      </div>
      <div class="category_box">
        <p><%= @event.category %></p>
      </div>
      <div class="details_box">
        <h3><%= @event.title %></h3>
        <p class = "date_time"><i class="fa fa-calendar-o" aria-hidden="true"></i>
        <%= @event.date.strftime("%B %d") %></p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i><%= @event.start_time.strftime("%R") %> to <%= @event.end_time.strftime("%R") %> </p>
        <p><%= @event.description %></p>
      </div>
    </div>

    <div class="bar-details">
      <div class="title">
      <ul class="list-inline">
      <li><h3>The Bar</h3></li>
      <%@event.bar.rating.times do %>
      <li><i class="fa fa-star" aria-hidden="true"></i></li>
      <%end %>
      </ul>
      </div>
      <h3><%= @event.bar.name %></h3>

      <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= @event.bar.location%></p>
      <ul class="list-inline">
      <%@event.bar.price_level.times do %>
      <li><i class="fa fa-eur" aria-hidden="true"></i></li>
      <%end %>
      </ul>
      <p><%= @event.bar.description %></p>


      <div id="map" style="width: 300px; height: 300px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @event_coordinates.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(10);
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="reviews">
      <div class="title">
        <h1>Reviews</h1>
      </div>

    </div>
    <div class = "return">
  <%= link_to events_path do%>
  <ul class = "list-inline">
    <li>
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
      <%end %>
    </li>
    <li>
      <p>See all Events</p>
    </li>
  </ul>
</div>
  </div>

</div>






