<!--
  <div class="my-container" style="background-image:url('<%= image_path("banner.jpg") %>');">
    <div class="banner">
      <div class="banner-content">
        <h1></h1>
        <p>Be entertained while you drink</p>
        <%= form_tag("/events", method: "get") do %>
        <%= text_field_tag(:keyword, nil, placeholder: "Keyword") %>
        <%= text_field_tag(:location, nil, placeholder: "Location") %>
        <%= text_field_tag(:date, nil, class: "datepicker") %>
        <%= submit_tag("Search") %>
        <% end %>
      </div>
    </div>
  </div> -->

<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <div class="my-container">
      <h1>After5</h1>
      <p>Be entertained while you drink</p>
      <%= form_tag("/events", method: "get") do %>
      <%= text_field_tag(:keyword, nil, placeholder: "Keyword") %>
      <%= text_field_tag(:location, nil, placeholder: "Location") %>
      <%= text_field_tag(:date, nil, class: "datepicker") %>
      <%= submit_tag("Search") %>
      <% end %>
    </div>
  <!-- </div> -->
<!-- </div> -->


